<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'This is a thymeleaf page welcome'" />
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p th:text="'By default Spring Boot serves static content from resources in the classpath at static (or public). The index.html resource is special because it is used as a welcome page if it exists, which means it will be served up as the root resource, i.e. at localhost:8080 in our example.'" />
</body>
</html>